In [145]:
import pandas as pd
#pd.set_option('display.max_rows', None)

import matplotlib.pyplot as plt

In [146]:
data = pd.read_csv("dataset2_clean.csv", index_col=0)

In [147]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
3,36221306,2017-05-18 11:28:50,2017-06-23 00:00:00,DSNY,Department of Sanitation,GRAFFITI,NEW YORK,UNKNOWN,MANHATTAN,40.779099,-73.954620,35 days 12:31:10
6,36235287,2017-05-19 07:16:36,2017-05-23 12:45:00,DOT,Department of Transportation,STREET CONDITION,Glen Oaks,UNKNOWN,QUEENS,40.751028,-73.713731,4 days 05:28:24
8,25019840,2013-02-18 20:39:00,2013-02-19 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.692115,-73.777281,0 days 15:21:00
9,25032331,2013-02-19 17:13:00,2013-02-20 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0 days 18:47:00
12,36229910,2017-05-19 21:22:08,2017-06-27 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BRONX,UNKNOWN,BRONX,40.834410,-73.849650,38 days 02:37:52

In [148]:
data.shape

(27803751, 12)

In [149]:
data['Park Borough'].unique()

array(['MANHATTAN', 'QUEENS', 'BROOKLYN', 'BRONX', 'STATEN ISLAND'],
      dtype=object)

In [150]:
data['City'].unique()

array(['NEW YORK', 'Glen Oaks', 'Jamaica', 'BROOKLYN', 'BRONX', 'Hollis',
       'STATEN ISLAND', 'Maspeth', 'Bayside', 'Astoria', 'Forest Hills',
       'College Point', 'South Richmond Hill', 'Flushing', 'Whitestone',
       'Queens Village', 'Bellerose', 'Elmhurst', 'Woodside', 'Corona',
       'Sunnyside', 'Richmond Hill', 'Saint Albans', 'Woodhaven',
       'Howard Beach', 'Long Island City', 'Ridgewood', 'Ozone Park',
       'Fresh Meadows', 'South Ozone Park', 'RIDGEWOOD', 'Middle Village',
       'Springfield Gardens', 'East Elmhurst', 'QUEENS', 'Rosedale',
       'Arverne', 'Far Rockaway', 'JAMAICA', 'MASPETH', 'Rockaway Park',
       'FRESH MEADOWS', 'Cambria Heights', 'MANHATTAN', 'Jackson Heights',
       'Rego Park', 'JACKSON HEIGHTS', 'CORONA', 'COLLEGE POINT',
       'FLUSHING', 'ELMHURST', 'EAST ELMHURST', 'LONG ISLAND CITY',
       'WOODSIDE', 'BELLEROSE', 'SOUTH OZONE PARK', 'ASTORIA',
       'Oakland Gardens', 'OZONE PARK', 'Breezy Point', 'RICHMOND HILL',
       'Kew Gardens', 'WOODHAVEN', 'HOLLIS', 'MIDDLE VILLAGE',
       'Little Neck', 'KEW GARDENS', 'FOREST HILLS', 'REGO PARK',
       'CAMBRIA HEIGHTS', 'Manhattan', 'ROSEDALE', 'SPRINGFIELD GARDENS',
       'HOWARD BEACH', 'LITTLE NECK', 'SUNNYSIDE', 'WHITESTONE',
       'QUEENS VILLAGE', 'SAINT ALBANS', 'GLEN OAKS', 'BAYSIDE',
       'Brooklyn', 'NEW HYDE PARK', 'Floral Park', 'SOUTH RICHMOND HILL',
       'FAR ROCKAWAY', 'OAKLAND GARDENS', 'ROCKAWAY PARK', 'FLORAL PARK',
       'ARVERNE', 'New Hyde Park', 'BREEZY POINT', 'BRRROKLYN', 'NY',
       'KEW GARDEN', 'N.Y', 'JERICHO', 'NEWYORK', 'CAMBRIA HEIGHS',
       'ELMONT', 'BROKLYN', 'GLENN OAKS', 'OZONE  PARK', 'LIC',
       'CENTRAL PARK', 'UNKNOWN', 'NEW', 'HARLEM', 'GREATNECK', 'INWOOD',
       'BX', 'OVERLAND PARK', 'LAGUARDIA AIRPORT', 'DOUGLASTON',
       'LONG ISLAND CIT', 'ROCKAWAY BEACH', 'Queens', 'LONG IS CITY',
       'Bronx', 'Staten Island', 'New York', 'New York City',
       'JAMAICA PLAIN', 'PELHAM'], dtype=object)

In [151]:
data['Open Data Channel Type'].unique()

array(['UNKNOWN', 'PHONE', 'ONLINE', 'OTHER', 'MOBILE'], dtype=object)

In [152]:
data = data[data['Open Data Channel Type']!='UNKNOWN']

In [30]:
call_per_complaint=data.groupby(['Complaint Type'])['Unique Key'].count().sort_values(ascending=False)
call_per_complaint

Complaint Type
NOISE - RESIDENTIAL                    2968771
HEAT/HOT WATER                         1917311
ILLEGAL PARKING                        1812513
BLOCKED DRIVEWAY                       1364170
REQUEST LARGE BULKY ITEM COLLECTION    1070430
                                        ...
FERRY PERMIT                                 1
ADVOCATE-UBT                                 1
ADVOCATE - OTHER                             1
DEP HIGHWAY CONDITION                        1
ADVOCATE-PERSONAL EXEMPTIONS                 1
Name: Unique Key, Length: 281, dtype: int64

In [153]:
call_per_complaint = call_per_complaint[call_per_complaint > 10000]

In [154]:
data = data.groupby('Complaint Type').filter(lambda x: x['Unique Key'].count() > 10000)

In [155]:
data.shape

(23206323, 12)

In [156]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23206323 entries, 8 to 32415144
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unique Key              int64
 1   Created Date            object
 2   Closed Date             object
 3   Agency                  object
 4   Agency Name             object
 5   Complaint Type          object
 6   City                    object
 7   Open Data Channel Type  object
 8   Park Borough            object
 9   Latitude                float64
 10  Longitude               float64
 11  diff                    object
dtypes: float64(2), int64(1), object(9)
memory usage: 2.2+ GB

In [157]:
data.dtypes

Unique Key                  int64
Created Date               object
Closed Date                object
Agency                     object
Agency Name                object
Complaint Type             object
City                       object
Open Data Channel Type     object
Park Borough               object
Latitude                  float64
Longitude                 float64
diff                       object
dtype: object

In [158]:
data.isna().sum()

Unique Key                0
Created Date              0
Closed Date               0
Agency                    0
Agency Name               0
Complaint Type            0
City                      0
Open Data Channel Type    0
Park Borough              0
Latitude                  0
Longitude                 0
diff                      0
dtype: int64

In [159]:
data = data[data['Park Borough']!='Unspecified']

In [160]:
data.shape

(23206323, 12)

In [161]:
data['Complaint Type'].unique()

array(['SANITATION CONDITION', 'DERELICT VEHICLES', 'DIRTY CONDITIONS',
       'STREET CONDITION', 'NEW TREE REQUEST', 'WATER CONSERVATION',
       'OVERFLOWING LITTER BASKETS', 'VACANT LOT', 'DERELICT BICYCLE',
       'OTHER ENFORCEMENT', 'LITTER BASKET / REQUEST',
       'STREET SIGN - DAMAGED', 'SNOW', 'SEWER',
       'REQUEST LARGE BULKY ITEM COLLECTION',
       'MISSED COLLECTION (ALL MATERIALS)', 'HAZARDOUS MATERIALS',
       'WATER SYSTEM', 'ELECTRONICS WASTE APPOINTMENT',
       'BLOCKED DRIVEWAY', 'UNSANITARY CONDITION', 'GENERAL', 'RODENT',
       'SAFETY', 'HOMELESS PERSON ASSISTANCE', 'NOISE - HELICOPTER',
       'FOOD POISONING', 'STANDING WATER', 'NOISE - RESIDENTIAL',
       'MISSED COLLECTION', 'ENCAMPMENT', 'ANIMAL-ABUSE',
       'NOISE - VEHICLE', 'OUTDOOR DINING', 'MAINTENANCE OR FACILITY',
       'ILLEGAL PARKING', 'SCHOOL MAINTENANCE', 'STREET SIGN - DANGLING',
       'GRAFFITI', 'DERELICT VEHICLE', 'VIOLATION OF PARK RULES',
       'NOISE - PARK', 'DAMAGED TREE', 'TAXI COMPLAINT',
       'STREET SIGN - MISSING', 'DEAD/DYING TREE', 'ANIMAL IN A PARK',
       'LOST PROPERTY', 'NOISE', 'BUS STOP SHELTER COMPLAINT',
       'DEAD TREE', 'ILLEGAL DUMPING', 'NOISE - STREET/SIDEWALK',
       'BROKEN PARKING METER', 'ROOT/SEWER/SIDEWALK CONDITION',
       'ILLEGAL FIREWORKS', 'INDOOR SEWAGE', 'SIDEWALK CONDITION',
       'ABANDONED VEHICLE', 'VENDING', 'NOISE - COMMERCIAL',
       'OVERGROWN TREE/BRANCHES', 'HIGHWAY CONDITION',
       'INDOOR AIR QUALITY', 'BROKEN MUNI METER', 'CONSTRUCTION',
       'DIRTY CONDITION', 'CONSUMER COMPLAINT', 'OBSTRUCTION',
       'CURB CONDITION', 'TRAFFIC', 'NOISE - HOUSE OF WORSHIP',
       'HOMELESS ENCAMPMENT', 'FOR HIRE VEHICLE COMPLAINT', 'DRINKING',
       'ILLEGAL TREE DAMAGE', 'ASBESTOS', 'ANIMAL ABUSE', 'WATER QUALITY',
       'LEAD', 'UNSANITARY ANIMAL PVT PROPERTY',
       'TRAFFIC/ILLEGAL PARKING', 'NON-EMERGENCY POLICE MATTER',
       'FOOD ESTABLISHMENT', 'PANHANDLING', 'HEATING', 'AIR QUALITY',
       'PLUMBING', 'ELEVATOR', 'PAINT/PLASTER', 'ELECTRIC', 'NONCONST',
       'APPLIANCE', 'PAINT - PLASTER', 'GENERAL CONSTRUCTION',
       'NOISE SURVEY', 'WATER LEAK', 'DOOR/WINDOW', 'FLOORING/STAIRS',
       'HEAT/HOT WATER', 'TAXI REPORT', 'DRUG ACTIVITY',
       'ELECTRONICS WASTE', 'HOMELESS STREET CONDITION',
       'NONCOMPLIANCE WITH PHASED REOPENING',
       'RESIDENTIAL DISPOSAL COMPLAINT'], dtype=object)

In [163]:
complaints_selected = ['STREET CONDITION', 'OVERFLOWING LITTER BASKETS', 'SEWER', 'BLOCKED DRIVEWAY', 
                      'NOISE', 'RODENT', 'SAFETY', 'VIOLATION OF PARK RULES', 'TRAFFIC', 'WATER SYSTEM',
                      'HEAT/HOT WATER', 'AIR QUALITY']

In [164]:
data_complaint = data[data['Complaint Type'].isin(complaints_selected)]
data_complaint

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
46,25308367,2013-04-05 14:00:33,2013-04-08 11:15:00,DOT,Department of Transportation,STREET CONDITION,Whitestone,OTHER,QUEENS,40.796215,-73.822971,2 days 21:14:27
79,25657742,2013-06-03 21:43:00,2013-06-04 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Sunnyside,PHONE,QUEENS,40.744791,-73.917422,0 days 14:17:00
113,25925450,2013-07-14 13:18:00,2013-07-15 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Elmhurst,PHONE,QUEENS,40.740572,-73.879294,0 days 22:42:00
129,26015386,2013-07-26 10:20:00,2013-07-27 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Maspeth,PHONE,QUEENS,40.723185,-73.900579,1 days 01:40:00
140,26109490,2013-08-11 15:33:00,2013-08-12 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Elmhurst,PHONE,QUEENS,40.742889,-73.882830,0 days 20:27:00
...,...,...,...,...,...,...,...,...,...,...,...,...
32415011,23894781,2012-08-29 10:07:00,2012-08-29 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,RICHMOND HILL,PHONE,QUEENS,40.695219,-73.841987,0 days 01:53:00
32415058,23794843,2012-08-13 08:46:00,2012-08-13 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,BROOKLYN,PHONE,BROOKLYN,40.659728,-73.956799,0 days 03:14:00
32415061,24258448,2012-10-24 14:00:19,2012-10-26 09:11:00,DOT,Department of Transportation,STREET CONDITION,LONG ISLAND CITY,OTHER,QUEENS,40.750435,-73.951471,1 days 19:10:41
32415080,24261739,2012-10-24 11:30:00,2012-10-25 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,BROOKLYN,PHONE,BROOKLYN,40.618427,-73.956239,1 days 00:30:00
32415125,24726375,2013-01-04 19:00:17,2013-01-05 10:57:00,DOT,Department of Transportation,STREET CONDITION,BROOKLYN,OTHER,BROOKLYN,40.656667,-74.009086,0 days 15:56:43

In [168]:
data = data_complaint

In [169]:
agency = pd.pivot_table(data, values='Complaint Type', index=['Agency'], aggfunc='count').sort_values(by='Complaint Type', ascending=False)
agency

        Complaint Type
Agency
HPD            1996283
DEP            1535466
NYPD           1410161
DOT             410276
DOHMH           351255
DSNY             15484
DPR              10289
DOE                539

In [170]:
agency.reset_index()

  Agency  Complaint Type
0    HPD         1996283
1    DEP         1535466
2   NYPD         1410161
3    DOT          410276
4  DOHMH          351255
5   DSNY           15484
6    DPR           10289
7    DOE             539

In [171]:

data=data[data['Agency']!='DOE']

In [172]:
data.shape

(5729214, 12)

In [173]:
n_complaint = pd.pivot_table(data, values='Complaint Type', index=['Agency Name'], aggfunc='count').sort_values(by='Complaint Type', ascending=False)
n_complaint

                                                    Complaint Type
Agency Name
Department of Housing Preservation and Development         1996132
Department of Environmental Protection                     1535466
New York City Police Department                            1410161
Department of Transportation                                410276
Department of Health and Mental Hygiene                     351255
Department of Sanitation                                     15484
Department of Parks and Recreation                           10289
Division of Alternative Management                             151

In [174]:
# filter1 = n_complaint[n_complaint['Complaint Type']>=10000]
# filter1.reset_index
# filter1.index

Index(['Department of Housing Preservation and Development',
       'Department of Environmental Protection',
       'New York City Police Department', 'Department of Transportation',
       'Department of Health and Mental Hygiene', 'Department of Sanitation',
       'Department of Parks and Recreation'],
      dtype='object', name='Agency Name')

In [47]:
# keep_list = ['New York City Police Department',
#        'Department of Housing Preservation and Development',
#        'Department of Transportation', 'Department of Sanitation',
#        'Department of Environmental Protection', 'Department of Buildings',
#        'Department of Parks and Recreation',
#        'Department of Health and Mental Hygiene',
#        'Taxi and Limousine Commission', 'Department of Consumer Affairs',
#        'Department of Homeless Services', 'Correspondence Unit',
#        'Department for the Aging',
#        'Senior Citizen Rent Increase Exemption Unit',
#        'Operations Unit - Department of Homeless Services',
#        'DHS Advantage Programs', 'Mayorâs Office of Special Enforcement',
#        'Personal Exemption Unit', 'Property Exec Office',
#        'Economic Development Corporation', 'DOB Inspections - Queens',
#        'Refunds and Adjustments', 'Land Records', '3-1-1 Call Center',
#        'Exemption Unit', 'Condo or CoOp Unit', 'Accounts Examination']

In [50]:
# data_filtered = data[data['Agency Name'].isin(keep_list)]

# data_filtered

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
3,36221306,2017-05-18 11:28:50,2017-06-23 00:00:00,DSNY,Department of Sanitation,GRAFFITI,NEW YORK,UNKNOWN,MANHATTAN,40.779099,-73.954620,35 days 12:31:10
6,36235287,2017-05-19 07:16:36,2017-05-23 12:45:00,DOT,Department of Transportation,STREET CONDITION,Glen Oaks,UNKNOWN,QUEENS,40.751028,-73.713731,4 days 05:28:24
8,25019840,2013-02-18 20:39:00,2013-02-19 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.692115,-73.777281,0 days 15:21:00
9,25032331,2013-02-19 17:13:00,2013-02-20 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0 days 18:47:00
12,36229910,2017-05-19 21:22:08,2017-06-27 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BRONX,UNKNOWN,BRONX,40.834410,-73.849650,38 days 02:37:52
...,...,...,...,...,...,...,...,...,...,...,...,...
32415138,24787002,2013-01-13 09:30:39,2013-01-14 12:20:00,DOT,Department of Transportation,STREET CONDITION,Howard Beach,UNKNOWN,QUEENS,40.658109,-73.847312,1 days 02:49:21
32415139,24812164,2013-01-16 12:48:34,2013-01-17 14:10:00,DOT,Department of Transportation,STREET CONDITION,BROOKLYN,UNKNOWN,BROOKLYN,40.656963,-74.008790,1 days 01:21:26
32415141,24918619,2013-02-01 06:18:00,2013-02-01 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.622894,-73.960011,0 days 05:42:00
32415143,36169269,2017-05-12 12:03:04,2017-07-20 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BROOKLYN,UNKNOWN,BROOKLYN,40.688816,-73.947466,68 days 11:56:56
32415144,24841980,2013-01-23 06:56:00,2013-01-23 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.699629,-73.805285,0 days 05:04:00

In [51]:
# data = data_filtered

In [175]:
data = data[data['Open Data Channel Type']!="UNKNOWN"]

In [177]:
data = data[data['Open Data Channel Type']=='PHONE']

In [178]:
data.shape

(3295054, 12)

In [179]:
data

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
79,25657742,2013-06-03 21:43:00,2013-06-04 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Sunnyside,PHONE,QUEENS,40.744791,-73.917422,0 days 14:17:00
113,25925450,2013-07-14 13:18:00,2013-07-15 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Elmhurst,PHONE,QUEENS,40.740572,-73.879294,0 days 22:42:00
129,26015386,2013-07-26 10:20:00,2013-07-27 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Maspeth,PHONE,QUEENS,40.723185,-73.900579,1 days 01:40:00
140,26109490,2013-08-11 15:33:00,2013-08-12 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Elmhurst,PHONE,QUEENS,40.742889,-73.882830,0 days 20:27:00
170,26230162,2013-08-30 08:12:00,2013-09-03 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,BROOKLYN,PHONE,BROOKLYN,40.668579,-73.986799,4 days 03:48:00
...,...,...,...,...,...,...,...,...,...,...,...,...
32414933,23485605,2012-06-24 07:42:00,2012-06-25 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,NEW YORK,PHONE,MANHATTAN,40.758429,-73.992633,1 days 04:18:00
32414957,23614754,2012-07-14 09:27:00,2012-07-16 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,LONG ISLAND CITY,PHONE,QUEENS,40.745722,-73.950536,2 days 02:33:00
32415011,23894781,2012-08-29 10:07:00,2012-08-29 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,RICHMOND HILL,PHONE,QUEENS,40.695219,-73.841987,0 days 01:53:00
32415058,23794843,2012-08-13 08:46:00,2012-08-13 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,BROOKLYN,PHONE,BROOKLYN,40.659728,-73.956799,0 days 03:14:00
32415080,24261739,2012-10-24 11:30:00,2012-10-25 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,BROOKLYN,PHONE,BROOKLYN,40.618427,-73.956239,1 days 00:30:00

In [60]:
# filter2=data.groupby(['Complaint Type'])['Unique Key'].count().sort_values(ascending=False)

In [85]:
# filter2_df = pd.DataFrame({'Complaint Type': filter2.index, 'Count': filter2.values})
# top_30 = filter2_df['Complaint Type'].head(30)

In [86]:
# data = data[data['Complaint Type'].isin(top_30)]

In [180]:
data['diff'] = pd.to_timedelta(data['diff'])

In [181]:

data['diff'] = data['diff'].dt.days

In [182]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
79,25657742,2013-06-03 21:43:00,2013-06-04 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Sunnyside,PHONE,QUEENS,40.744791,-73.917422,0
113,25925450,2013-07-14 13:18:00,2013-07-15 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Elmhurst,PHONE,QUEENS,40.740572,-73.879294,0
129,26015386,2013-07-26 10:20:00,2013-07-27 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Maspeth,PHONE,QUEENS,40.723185,-73.900579,1
140,26109490,2013-08-11 15:33:00,2013-08-12 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,Elmhurst,PHONE,QUEENS,40.742889,-73.882830,0
170,26230162,2013-08-30 08:12:00,2013-09-03 12:00:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,BROOKLYN,PHONE,BROOKLYN,40.668579,-73.986799,4

In [183]:
data = data[data['diff']<=90]

In [184]:
data.shape

(3273388, 12)

In [185]:
data.groupby(['City'])['Unique Key'].count().sort_values(ascending=True)

City
JERICHO                    1
LAGUARDIA AIRPORT          2
BREEZY POINT              40
Breezy Point             131
New Hyde Park            338
                      ...
Jamaica                50058
STATEN ISLAND         155568
NEW YORK              535923
BRONX                 681520
BROOKLYN             1030039
Name: Unique Key, Length: 92, dtype: int64

In [186]:
def upper_case(x):
    return x.upper()

In [187]:
data['City'] = data['City'].apply(upper_case)

/var/folders/s6/37bcs8j95w30c53jbkmzmjnh0000gn/T/ipykernel_4164/1723884734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['City'] = data['City'].apply(upper_case)

In [188]:
city_counts = data.groupby(['City'])['Unique Key'].count().sort_values(ascending=True)
city_counts_df = pd.DataFrame({'City': city_counts.index, 'Count': city_counts.values})

In [191]:
city_counts_df.tail(33)

                   City    Count
17             ROSEDALE    10865
18        COLLEGE POINT    11407
19           WHITESTONE    11741
20               HOLLIS    12893
21              BAYSIDE    13394
22       MIDDLE VILLAGE    13981
23            REGO PARK    15278
24        FRESH MEADOWS    15456
25  SPRINGFIELD GARDENS    16029
26         SAINT ALBANS    16166
27      JACKSON HEIGHTS    16950
28            WOODHAVEN    17559
29        RICHMOND HILL    17560
30              MASPETH    17597
31     LONG ISLAND CITY    19853
32     SOUTH OZONE PARK    23015
33         FOREST HILLS    23274
34       QUEENS VILLAGE    23616
35  SOUTH RICHMOND HILL    26455
36         FAR ROCKAWAY    28106
37           OZONE PARK    28343
38        EAST ELMHURST    28406
39             ELMHURST    29843
40             WOODSIDE    34105
41            RIDGEWOOD    44717
42               CORONA    45834
43              ASTORIA    59270
44             FLUSHING    66598
45              JAMAICA    99650
46        STATEN ISLAND   155568
47             NEW YORK   535923
48                BRONX   681520
49             BROOKLYN  1030039

In [192]:
top_city = city_counts_df['City'].tail(42)

In [193]:
data = data[data['City'].isin(top_city)]

In [194]:
data.shape

(3261387, 12)

In [195]:
data = data.drop(['Closed Date'], axis=1)

In [198]:
data = data.drop(['Open Data Channel Type'], axis=1)

In [199]:
data.head()

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,City,Park Borough,Latitude,Longitude,diff
79,25657742,2013-06-03 21:43:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,SUNNYSIDE,QUEENS,40.744791,-73.917422,0
113,25925450,2013-07-14 13:18:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,ELMHURST,QUEENS,40.740572,-73.879294,0
129,26015386,2013-07-26 10:20:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,MASPETH,QUEENS,40.723185,-73.900579,1
140,26109490,2013-08-11 15:33:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,ELMHURST,QUEENS,40.742889,-73.882830,0
170,26230162,2013-08-30 08:12:00,DSNY,Department of Sanitation,OVERFLOWING LITTER BASKETS,BROOKLYN,BROOKLYN,40.668579,-73.986799,4

In [200]:
data.to_csv('data_tableau2.csv')