In [1]:
import pandas as pd
#pd.set_option('display.max_rows', None)

import matplotlib.pyplot as plt

In [23]:
data = pd.read_csv("dataset2_clean.csv", index_col=0)

In [24]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
3,36221306,2017-05-18 11:28:50,2017-06-23 00:00:00,DSNY,Department of Sanitation,GRAFFITI,NEW YORK,UNKNOWN,MANHATTAN,40.779099,-73.954620,35 days 12:31:10
6,36235287,2017-05-19 07:16:36,2017-05-23 12:45:00,DOT,Department of Transportation,STREET CONDITION,Glen Oaks,UNKNOWN,QUEENS,40.751028,-73.713731,4 days 05:28:24
8,25019840,2013-02-18 20:39:00,2013-02-19 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.692115,-73.777281,0 days 15:21:00
9,25032331,2013-02-19 17:13:00,2013-02-20 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0 days 18:47:00
12,36229910,2017-05-19 21:22:08,2017-06-27 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BRONX,UNKNOWN,BRONX,40.834410,-73.849650,38 days 02:37:52

In [25]:
data.shape

(27803751, 12)

In [26]:
data['Park Borough'].unique()

array(['MANHATTAN', 'QUEENS', 'BROOKLYN', 'BRONX', 'STATEN ISLAND'],
      dtype=object)

In [27]:
data['City'].unique()

array(['NEW YORK', 'Glen Oaks', 'Jamaica', 'BROOKLYN', 'BRONX', 'Hollis',
       'STATEN ISLAND', 'Maspeth', 'Bayside', 'Astoria', 'Forest Hills',
       'College Point', 'South Richmond Hill', 'Flushing', 'Whitestone',
       'Queens Village', 'Bellerose', 'Elmhurst', 'Woodside', 'Corona',
       'Sunnyside', 'Richmond Hill', 'Saint Albans', 'Woodhaven',
       'Howard Beach', 'Long Island City', 'Ridgewood', 'Ozone Park',
       'Fresh Meadows', 'South Ozone Park', 'RIDGEWOOD', 'Middle Village',
       'Springfield Gardens', 'East Elmhurst', 'QUEENS', 'Rosedale',
       'Arverne', 'Far Rockaway', 'JAMAICA', 'MASPETH', 'Rockaway Park',
       'FRESH MEADOWS', 'Cambria Heights', 'MANHATTAN', 'Jackson Heights',
       'Rego Park', 'JACKSON HEIGHTS', 'CORONA', 'COLLEGE POINT',
       'FLUSHING', 'ELMHURST', 'EAST ELMHURST', 'LONG ISLAND CITY',
       'WOODSIDE', 'BELLEROSE', 'SOUTH OZONE PARK', 'ASTORIA',
       'Oakland Gardens', 'OZONE PARK', 'Breezy Point', 'RICHMOND HILL',
       'Kew Gardens', 'WOODHAVEN', 'HOLLIS', 'MIDDLE VILLAGE',
       'Little Neck', 'KEW GARDENS', 'FOREST HILLS', 'REGO PARK',
       'CAMBRIA HEIGHTS', 'Manhattan', 'ROSEDALE', 'SPRINGFIELD GARDENS',
       'HOWARD BEACH', 'LITTLE NECK', 'SUNNYSIDE', 'WHITESTONE',
       'QUEENS VILLAGE', 'SAINT ALBANS', 'GLEN OAKS', 'BAYSIDE',
       'Brooklyn', 'NEW HYDE PARK', 'Floral Park', 'SOUTH RICHMOND HILL',
       'FAR ROCKAWAY', 'OAKLAND GARDENS', 'ROCKAWAY PARK', 'FLORAL PARK',
       'ARVERNE', 'New Hyde Park', 'BREEZY POINT', 'BRRROKLYN', 'NY',
       'KEW GARDEN', 'N.Y', 'JERICHO', 'NEWYORK', 'CAMBRIA HEIGHS',
       'ELMONT', 'BROKLYN', 'GLENN OAKS', 'OZONE  PARK', 'LIC',
       'CENTRAL PARK', 'UNKNOWN', 'NEW', 'HARLEM', 'GREATNECK', 'INWOOD',
       'BX', 'OVERLAND PARK', 'LAGUARDIA AIRPORT', 'DOUGLASTON',
       'LONG ISLAND CIT', 'ROCKAWAY BEACH', 'Queens', 'LONG IS CITY',
       'Bronx', 'Staten Island', 'New York', 'New York City',
       'JAMAICA PLAIN', 'PELHAM'], dtype=object)

In [28]:
data['Open Data Channel Type'].unique()

array(['UNKNOWN', 'PHONE', 'ONLINE', 'OTHER', 'MOBILE'], dtype=object)

In [30]:
call_per_complaint=data.groupby(['Complaint Type'])['Unique Key'].count().sort_values(ascending=False)
call_per_complaint

Complaint Type
NOISE - RESIDENTIAL                    2968771
HEAT/HOT WATER                         1917311
ILLEGAL PARKING                        1812513
BLOCKED DRIVEWAY                       1364170
REQUEST LARGE BULKY ITEM COLLECTION    1070430
                                        ...
FERRY PERMIT                                 1
ADVOCATE-UBT                                 1
ADVOCATE - OTHER                             1
DEP HIGHWAY CONDITION                        1
ADVOCATE-PERSONAL EXEMPTIONS                 1
Name: Unique Key, Length: 281, dtype: int64

In [31]:
call_per_complaint = call_per_complaint[call_per_complaint > 1]

In [32]:
data = data.groupby('Complaint Type').filter(lambda x: x['Unique Key'].count() > 1)

In [33]:
data.shape

(27803744, 12)

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27803744 entries, 3 to 32415144
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unique Key              int64
 1   Created Date            object
 2   Closed Date             object
 3   Agency                  object
 4   Agency Name             object
 5   Complaint Type          object
 6   City                    object
 7   Open Data Channel Type  object
 8   Park Borough            object
 9   Latitude                float64
 10  Longitude               float64
 11  diff                    object
dtypes: float64(2), int64(1), object(9)
memory usage: 2.7+ GB

In [35]:
data.dtypes

Unique Key                  int64
Created Date               object
Closed Date                object
Agency                     object
Agency Name                object
Complaint Type             object
City                       object
Open Data Channel Type     object
Park Borough               object
Latitude                  float64
Longitude                 float64
diff                       object
dtype: object

In [36]:
data.isna().sum()

Unique Key                0
Created Date              0
Closed Date               0
Agency                    0
Agency Name               0
Complaint Type            0
City                      0
Open Data Channel Type    0
Park Borough              0
Latitude                  0
Longitude                 0
diff                      0
dtype: int64

In [37]:
data = data[data['Park Borough']!='Unspecified']

In [38]:
data.shape

(27803744, 12)

In [40]:
agency = pd.pivot_table(data, values='Complaint Type', index=['Agency'], aggfunc='count').sort_values(by='Complaint Type', ascending=False)
agency

        Complaint Type
Agency
NYPD           9083488
HPD            6728282
DSNY           3284871
DOT            2885619
DEP            2172430
DOB            1302460
DPR             894081
DOHMH           599316
TLC             247524
DCA             236267
DHS             199353
OSE              69642
EDC              35388
DOE              21170
3-1-1            20533
DOF              13546
DOITT             6887
DFTA              2757
OTI                 87
NYCEM               43

In [41]:
agency.reset_index()

   Agency  Complaint Type
0    NYPD         9083488
1     HPD         6728282
2    DSNY         3284871
3     DOT         2885619
4     DEP         2172430
5     DOB         1302460
6     DPR          894081
7   DOHMH          599316
8     TLC          247524
9     DCA          236267
10    DHS          199353
11    OSE           69642
12    EDC           35388
13    DOE           21170
14  3-1-1           20533
15    DOF           13546
16  DOITT            6887
17   DFTA            2757
18    OTI              87
19  NYCEM              43

In [42]:
data=data[data['Agency']!='DOF']
data=data[data['Agency']!='DOITT']
data=data[data['Agency']!='DFTA']
data=data[data['Agency']!='OTI']
data=data[data['Agency']!='NYCEM']
data=data[data['Agency']!='HRA']

In [43]:
data.shape

(27780424, 12)

In [44]:
n_complaint = pd.pivot_table(data, values='Complaint Type', index=['Agency Name'], aggfunc='count').sort_values(by='Complaint Type', ascending=False)
n_complaint

                                                    Complaint Type
Agency Name
New York City Police Department                            9081769
Department of Housing Preservation and Development         6727898
Department of Sanitation                                   3284871
Department of Transportation                               2885617
Department of Environmental Protection                     2172430
...                                                            ...
School - School for Tourism and Hospitality                      1
School - Excellence Boys Charter School                          1
School - Brownsville Academy High School                         1
School - School for Community Research and Lear...               1
School - Bronx International High School                         1

[1809 rows x 1 columns]

In [45]:
filter1 = n_complaint[n_complaint['Complaint Type']<=10000]
filter1.reset_index
filter1.index

Index(['Department of Education', 'Central - Department of Education',
       'Traffic Management Center', 'Division of Alternative Management',
       'School - Fiorello H LaGuardia High School of Music and Art and Performing Arts',
       'School - Bronx River High School',
       'School - PS 333 Manhattan School for Children',
       'School - Ella Baker School', 'School - PS 57 Crescent',
       'School - Fort Hamilton High School',
       ...
       'School - School of the Future Brooklyn',
       'School - Academy of the City Charter School',
       'School - Eximius College Preparatory Academy: A College Board School',
       'School - Excelsior Preparatory High School',
       'School - School of Business, Finance, and Entrepreneurship',
       'School - School for Tourism and Hospitality',
       'School - Excellence Boys Charter School',
       'School - Brownsville Academy High School',
       'School - School for Community Research and Learning',
       'School - Bronx International High School'],
      dtype='object', name='Agency Name', length=1793)

In [47]:
keep_list = ['New York City Police Department',
       'Department of Housing Preservation and Development',
       'Department of Transportation', 'Department of Sanitation',
       'Department of Environmental Protection', 'Department of Buildings',
       'Department of Parks and Recreation',
       'Department of Health and Mental Hygiene',
       'Taxi and Limousine Commission', 'Department of Consumer Affairs',
       'Department of Homeless Services', 'Correspondence Unit',
       'Department for the Aging',
       'Senior Citizen Rent Increase Exemption Unit',
       'Operations Unit - Department of Homeless Services',
       'DHS Advantage Programs', 'Mayorâs Office of Special Enforcement',
       'Personal Exemption Unit', 'Property Exec Office',
       'Economic Development Corporation', 'DOB Inspections - Queens',
       'Refunds and Adjustments', 'Land Records', '3-1-1 Call Center',
       'Exemption Unit', 'Condo or CoOp Unit', 'Accounts Examination']

In [50]:
data_filtered = data[data['Agency Name'].isin(keep_list)]

data_filtered

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
3,36221306,2017-05-18 11:28:50,2017-06-23 00:00:00,DSNY,Department of Sanitation,GRAFFITI,NEW YORK,UNKNOWN,MANHATTAN,40.779099,-73.954620,35 days 12:31:10
6,36235287,2017-05-19 07:16:36,2017-05-23 12:45:00,DOT,Department of Transportation,STREET CONDITION,Glen Oaks,UNKNOWN,QUEENS,40.751028,-73.713731,4 days 05:28:24
8,25019840,2013-02-18 20:39:00,2013-02-19 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.692115,-73.777281,0 days 15:21:00
9,25032331,2013-02-19 17:13:00,2013-02-20 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0 days 18:47:00
12,36229910,2017-05-19 21:22:08,2017-06-27 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BRONX,UNKNOWN,BRONX,40.834410,-73.849650,38 days 02:37:52
...,...,...,...,...,...,...,...,...,...,...,...,...
32415138,24787002,2013-01-13 09:30:39,2013-01-14 12:20:00,DOT,Department of Transportation,STREET CONDITION,Howard Beach,UNKNOWN,QUEENS,40.658109,-73.847312,1 days 02:49:21
32415139,24812164,2013-01-16 12:48:34,2013-01-17 14:10:00,DOT,Department of Transportation,STREET CONDITION,BROOKLYN,UNKNOWN,BROOKLYN,40.656963,-74.008790,1 days 01:21:26
32415141,24918619,2013-02-01 06:18:00,2013-02-01 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.622894,-73.960011,0 days 05:42:00
32415143,36169269,2017-05-12 12:03:04,2017-07-20 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BROOKLYN,UNKNOWN,BROOKLYN,40.688816,-73.947466,68 days 11:56:56
32415144,24841980,2013-01-23 06:56:00,2013-01-23 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.699629,-73.805285,0 days 05:04:00

In [51]:
data = data_filtered

In [52]:
data

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
3,36221306,2017-05-18 11:28:50,2017-06-23 00:00:00,DSNY,Department of Sanitation,GRAFFITI,NEW YORK,UNKNOWN,MANHATTAN,40.779099,-73.954620,35 days 12:31:10
6,36235287,2017-05-19 07:16:36,2017-05-23 12:45:00,DOT,Department of Transportation,STREET CONDITION,Glen Oaks,UNKNOWN,QUEENS,40.751028,-73.713731,4 days 05:28:24
8,25019840,2013-02-18 20:39:00,2013-02-19 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.692115,-73.777281,0 days 15:21:00
9,25032331,2013-02-19 17:13:00,2013-02-20 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0 days 18:47:00
12,36229910,2017-05-19 21:22:08,2017-06-27 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BRONX,UNKNOWN,BRONX,40.834410,-73.849650,38 days 02:37:52
...,...,...,...,...,...,...,...,...,...,...,...,...
32415138,24787002,2013-01-13 09:30:39,2013-01-14 12:20:00,DOT,Department of Transportation,STREET CONDITION,Howard Beach,UNKNOWN,QUEENS,40.658109,-73.847312,1 days 02:49:21
32415139,24812164,2013-01-16 12:48:34,2013-01-17 14:10:00,DOT,Department of Transportation,STREET CONDITION,BROOKLYN,UNKNOWN,BROOKLYN,40.656963,-74.008790,1 days 01:21:26
32415141,24918619,2013-02-01 06:18:00,2013-02-01 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.622894,-73.960011,0 days 05:42:00
32415143,36169269,2017-05-12 12:03:04,2017-07-20 00:00:00,DSNY,Department of Sanitation,GRAFFITI,BROOKLYN,UNKNOWN,BROOKLYN,40.688816,-73.947466,68 days 11:56:56
32415144,24841980,2013-01-23 06:56:00,2013-01-23 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.699629,-73.805285,0 days 05:04:00

In [54]:
data = data[data['Open Data Channel Type']!="UNKNOWN"]

In [60]:
filter2=data.groupby(['Complaint Type'])['Unique Key'].count().sort_values(ascending=False)

In [85]:
filter2_df = pd.DataFrame({'Complaint Type': filter2.index, 'Count': filter2.values})
top_30 = filter2_df['Complaint Type'].head(30)

In [86]:
data = data[data['Complaint Type'].isin(top_30)]

In [87]:
data.shape

(19121732, 12)

In [89]:
data.dtypes

Unique Key                  int64
Created Date               object
Closed Date                object
Agency                     object
Agency Name                object
Complaint Type             object
City                       object
Open Data Channel Type     object
Park Borough               object
Latitude                  float64
Longitude                 float64
diff                       object
dtype: object

In [99]:
data['diff'] = pd.to_timedelta(data['diff'])

In [100]:

data['diff'] = data['diff'].dt.days

In [101]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
8,25019840,2013-02-18 20:39:00,2013-02-19 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Jamaica,PHONE,QUEENS,40.692115,-73.777281,0
9,25032331,2013-02-19 17:13:00,2013-02-20 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0
13,25028944,2013-02-19 08:05:00,2013-02-23 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,Hollis,PHONE,QUEENS,40.712188,-73.769210,4
14,24935144,2013-02-04 12:00:00,2013-02-06 12:00:00,DSNY,Department of Sanitation,DERELICT VEHICLES,STATEN ISLAND,PHONE,STATEN ISLAND,40.520006,-74.196127,2
15,25091694,2013-02-28 20:35:00,2013-03-01 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.696030,-73.943526,0

In [109]:
data = data[data['diff']<=80]

In [112]:
data = data[data['Open Data Channel Type'] != "OTHER"]

In [113]:
data.shape

(18702155, 12)

In [117]:
data.groupby(['City'])['Unique Key'].count().sort_values(ascending=True)

City
OVERLAND PARK          1
KEW GARDEN             1
INWOOD                 1
GREATNECK              1
GLENN OAKS             1
                  ...
JAMAICA           268707
STATEN ISLAND     791768
NEW YORK         3555242
BRONX            4118460
BROOKLYN         5936618
Name: Unique Key, Length: 114, dtype: int64

In [121]:
def upper_case(x):
    return x.upper()

In [122]:
data['City'] = data['City'].apply(upper_case)

In [123]:
city_counts = data.groupby(['City'])['Unique Key'].count().sort_values(ascending=True)
city_counts_df = pd.DataFrame({'City': city_counts.index, 'Count': city_counts.values})

In [127]:
city_counts_df.tail(42)

                   City    Count
27            BELLEROSE    24766
28        ROCKAWAY PARK    28964
29              ARVERNE    31843
30      CAMBRIA HEIGHTS    33878
31          LITTLE NECK    37475
32          KEW GARDENS    39850
33      OAKLAND GARDENS    42294
34             ROSEDALE    49265
35         HOWARD BEACH    49930
36            SUNNYSIDE    51940
37               HOLLIS    56405
38        COLLEGE POINT    58513
39           WHITESTONE    66064
40         SAINT ALBANS    68931
41              BAYSIDE    70382
42  SPRINGFIELD GARDENS    70719
43            REGO PARK    72972
44       MIDDLE VILLAGE    78479
45        RICHMOND HILL    86362
46         FOREST HILLS    96077
47      JACKSON HEIGHTS   101727
48              MASPETH   101816
49            WOODHAVEN   105334
50       QUEENS VILLAGE   107633
51        EAST ELMHURST   113925
52     LONG ISLAND CITY   115312
53     SOUTH OZONE PARK   116279
54  SOUTH RICHMOND HILL   123703
55        FRESH MEADOWS   135992
56           OZONE PARK   142786
57         FAR ROCKAWAY   143401
58             ELMHURST   146520
59             WOODSIDE   147556
60               CORONA   176052
61            RIDGEWOOD   271466
62             FLUSHING   308870
63              ASTORIA   332922
64              JAMAICA   456915
65        STATEN ISLAND   791768
66             NEW YORK  3555245
67                BRONX  4118461
68             BROOKLYN  5936620

In [128]:
top_city = city_counts_df['City'].tail(42)

In [129]:
data = data[data['City'].isin(top_city)]

In [130]:
data.shape

(18665412, 12)

In [131]:
data.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
8,25019840,2013-02-18 20:39:00,2013-02-19 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,JAMAICA,PHONE,QUEENS,40.692115,-73.777281,0
9,25032331,2013-02-19 17:13:00,2013-02-20 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0
13,25028944,2013-02-19 08:05:00,2013-02-23 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,HOLLIS,PHONE,QUEENS,40.712188,-73.769210,4
14,24935144,2013-02-04 12:00:00,2013-02-06 12:00:00,DSNY,Department of Sanitation,DERELICT VEHICLES,STATEN ISLAND,PHONE,STATEN ISLAND,40.520006,-74.196127,2
15,25091694,2013-02-28 20:35:00,2013-03-01 12:00:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.696030,-73.943526,0

In [132]:
data = data.drop(['Closed Date'], axis=1)
data

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,City,Open Data Channel Type,Park Borough,Latitude,Longitude,diff
8,25019840,2013-02-18 20:39:00,DSNY,Department of Sanitation,SANITATION CONDITION,JAMAICA,PHONE,QUEENS,40.692115,-73.777281,0
9,25032331,2013-02-19 17:13:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.638523,-73.904056,0
13,25028944,2013-02-19 08:05:00,DSNY,Department of Sanitation,SANITATION CONDITION,HOLLIS,PHONE,QUEENS,40.712188,-73.769210,4
14,24935144,2013-02-04 12:00:00,DSNY,Department of Sanitation,DERELICT VEHICLES,STATEN ISLAND,PHONE,STATEN ISLAND,40.520006,-74.196127,2
15,25091694,2013-02-28 20:35:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.696030,-73.943526,0
...,...,...,...,...,...,...,...,...,...,...,...
32415130,24729997,2013-01-03 10:37:00,DSNY,Department of Sanitation,SANITATION CONDITION,ELMHURST,PHONE,QUEENS,40.738095,-73.870288,0
32415134,24764904,2013-01-10 15:32:00,DSNY,Department of Sanitation,SANITATION CONDITION,ASTORIA,PHONE,QUEENS,40.768630,-73.935822,3
32415137,24772881,2013-01-12 14:15:00,DSNY,Department of Sanitation,SANITATION CONDITION,ASTORIA,PHONE,QUEENS,40.760028,-73.922543,1
32415141,24918619,2013-02-01 06:18:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,PHONE,BROOKLYN,40.622894,-73.960011,0
32415144,24841980,2013-01-23 06:56:00,DSNY,Department of Sanitation,SANITATION CONDITION,JAMAICA,PHONE,QUEENS,40.699629,-73.805285,0

In [138]:
data = data[data['Open Data Channel Type']=='PHONE']

In [142]:
data = data.drop(['Open Data Channel Type'], axis=1)
data

,Unique Key,Created Date,Agency,Agency Name,Complaint Type,City,Park Borough,Latitude,Longitude,diff
8,25019840,2013-02-18 20:39:00,DSNY,Department of Sanitation,SANITATION CONDITION,JAMAICA,QUEENS,40.692115,-73.777281,0
9,25032331,2013-02-19 17:13:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,BROOKLYN,40.638523,-73.904056,0
13,25028944,2013-02-19 08:05:00,DSNY,Department of Sanitation,SANITATION CONDITION,HOLLIS,QUEENS,40.712188,-73.769210,4
14,24935144,2013-02-04 12:00:00,DSNY,Department of Sanitation,DERELICT VEHICLES,STATEN ISLAND,STATEN ISLAND,40.520006,-74.196127,2
15,25091694,2013-02-28 20:35:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,BROOKLYN,40.696030,-73.943526,0
...,...,...,...,...,...,...,...,...,...,...
32415130,24729997,2013-01-03 10:37:00,DSNY,Department of Sanitation,SANITATION CONDITION,ELMHURST,QUEENS,40.738095,-73.870288,0
32415134,24764904,2013-01-10 15:32:00,DSNY,Department of Sanitation,SANITATION CONDITION,ASTORIA,QUEENS,40.768630,-73.935822,3
32415137,24772881,2013-01-12 14:15:00,DSNY,Department of Sanitation,SANITATION CONDITION,ASTORIA,QUEENS,40.760028,-73.922543,1
32415141,24918619,2013-02-01 06:18:00,DSNY,Department of Sanitation,SANITATION CONDITION,BROOKLYN,BROOKLYN,40.622894,-73.960011,0
32415144,24841980,2013-01-23 06:56:00,DSNY,Department of Sanitation,SANITATION CONDITION,JAMAICA,QUEENS,40.699629,-73.805285,0

In [143]:
data.to_csv('data_tableau.csv')

In [144]:
data['Complaint Type'].unique()

array(['SANITATION CONDITION', 'DERELICT VEHICLES', 'DIRTY CONDITIONS',
       'REQUEST LARGE BULKY ITEM COLLECTION',
       'MISSED COLLECTION (ALL MATERIALS)', 'WATER SYSTEM',
       'BLOCKED DRIVEWAY', 'UNSANITARY CONDITION', 'GENERAL', 'RODENT',
       'ILLEGAL PARKING', 'DERELICT VEHICLE', 'DAMAGED TREE',
       'STREET CONDITION', 'NOISE - VEHICLE', 'NOISE - STREET/SIDEWALK',
       'SEWER', 'NOISE - RESIDENTIAL', 'SIDEWALK CONDITION',
       'CONSUMER COMPLAINT', 'NOISE - COMMERCIAL', 'NOISE', 'HEATING',
       'ELECTRIC', 'PLUMBING', 'PAINT/PLASTER', 'WATER LEAK',
       'DOOR/WINDOW', 'FLOORING/STAIRS', 'HEAT/HOT WATER'], dtype=object)

In [ ]:
house_complaint_types = ['HEAT/HOT WATER','PLUMBING','GENERAL CONSTRUCTION','UNSANITARY CONDITION','PAINT/PLASTER','ELECTRIC','DOOR/WINDOW','WATER LEAK','FLOORING/STAIRS','APPLIANCE']